@model to_do_list.web.ViewModels.ToDoListViewModel

<h1 class="heading">Add a task to your to-do list</h1>
<div class="create-add-item background">
    <form class="to-do-item-create" method="post" asp-controller="Create" asp-action="Create">
        <input asp-for=@Model.ToDoItem.Name type="text" aria-label="Textbox input to add a new item to the to-do list." />
        <button type="submit" name="submit">Save</button>
    </form>
</div>
