@model to_do_list.web.ViewModels.ToDoListViewModel

<script type="text/javascript" src="/js/site.js"></script>

<h1 class="heading">What <span class="brand-text">tings</span> are on your to-do list?</h1>

@if (Model.ToDoList.Count == 0)
{
    <p class="home-noitems">There are no items on your to-do list.</p>
    <div class="home-create-item">
        <a class="home-create-item-btn" asp-controller="create" asp-action="create">Add a task to my list</a>
    </div>
}
else
{
    <table class="home-table">
        <tbody>
            @foreach (var item in Model.ToDoList)
            {
                <tr class=table-row>
                    <td class="home-completed">
                        <form method="post" asp-controller="Home" asp-action="Index">
                            <input type="hidden" name="id" value="@item.Id">
                            <input class="home-completed" type="checkbox" name="completed" value="true" @(item.Completed ? "checked" : "") onchange="this.form.submit();" />
                        </form>
                    </td>
                    <td class="home-name">
                        @item.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="home-btns">
        <a class="home-clear-list-btn" href="/delete/deletelist" value="Clear list">Clear list</a>
    </div>
}