@model to_do_list.web.ViewModels.ToDoViewModel

<h1 class="heading">What's on your to-do list?</h1>

@if (Model.ToDoList.Count == 0)
{
    <p class="todo-description">There are no items on your to-do list.</p>
    <div class="todo-create-button">
        <a class="todo-create-btn-link" href="/todo/create">Add an item to my list</a>
    </div>
}
else
{
    <div class="to-do-list-home">
        <ul class="ul-list">
            @foreach (var item in Model.ToDoList)
            {
                <li class="to-do-list-item">@item.Name</li>
            }
            <li>
                <p class="to-do-list-item">
                    <form class="to-do-item-create" method="post" asp-controller="Home" asp-action="Index">
                        <input class="to-do-item-create-input" asp-for="Name" type="text" name="Name" aria-label="Textbox input to add a new item to the to-do list." />
                        <button class="to-do-item-create-btn" type="submit" name="submit">Save</button>
                    </form>
                </p>
            </li>
        </ul>
    </div>
}