@model to_do_list.web.ViewModels.ToDoListViewModel

<h1 class="heading">What <span class="brand-text">tings</span> are on your to-do list?</h1>

@if (Model.ToDoList.Count == 0)
{
    <p class="home-noitems">There are no items on your to-do list.</p>
    <div class="home-create">
        <a class="home-create-btn" asp-controller="create" asp-action="create">Add an item to my list</a>
    </div>
}
else
{
    <div class="home-to-do-list">
        <ul>
            @foreach (var item in Model.ToDoList)
            {
                <li class="home-to-do-list-item">
                    <p>@item.Name - <input type="checkbox" value=@item.Completed /></p>
                </li>
            }
            <li>
                <div>
                    <p>
                        <form class="to-do-item-create" method="post" asp-controller="Home" asp-action="Index">
                            <input class="home-to-do-item-create-input" placeholder="Add a new thing to do" asp-for=@Model.ToDoItem.Name type="text" aria-label="Textbox input to add a new item to the to-do list." />
                            <button class="home-to-do-item-create-btn" type="submit">Save</button>
                        </form>
                    </p>
                </div>
            </li>
        </ul>
        <div class="home-to-do-item-create-item-save">
            <a class="home-clear-btn" asp-controller="delete" asp-action="DeleteList" value="Clear to-do list">Clear to-do list</a>
        </div>
    </div>
}