﻿@{
    ViewData["Title"] = "things to do";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/to-do-list.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="nav">
            <div class="nav-titles">
                <div>
                    <a class="nav-header nav-header-logo" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["Title"]</a>
                    <a class="nav-header" asp-area="" asp-controller="Create" asp-action="Create">new task</a>
                </div>
            </div>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div>
            Created by Sarah Duncan 03/2023.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>