
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FBEAEB;
    min-height: 100%;
}

/*shared layout*/

.nav {
    background-color: #2F3C7E;
    min-height: 50px;
    align-items: center;
}

.nav-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
}

.nav-header {
    padding: 10px;
    color: white;
    text-decoration: none;
}

    .nav-header:hover {
        color: #FBEAEB;
    }

/* Shared classes */

.heading {
    text-align: center;
    padding: 15px;
}

.background {
    display: flex;
    background-color: white;
    border: 0.5px solid #2F3C7E;
    width: 30%;
    margin: 0 auto;
}

.to-do-item-create {
    display: flex;
    flex-direction: column;
}

/* Home page */

.brand-text {
    font-family: "Lucida Console";
}

.home-noitems {
    text-align: center;
}

.home-create-item {
    display: block;
    width: 15%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: #2F3C7E;
    border: 2px solid black;
}

.home-create-item-btn {
    color: white;
    text-decoration: none;
}

    .home-create-btn:hover {
        color: #FBEAEB;
    }

.home-to-do-list-background {
    flex-direction: column;
    width:100%;
}

.home-table{
    width:100%;
}

.home-table-headings {
    background-color: #b5bde3;
    color: white;
}

td{
    padding:5px;
}

.home-table-data-name {
    background-color: #e0e3f3;
}

.home-table-data-completed {
    background-color: #e0e3f3;
}

.home-table-data-add {
    background-color: #e0e3f3;
}

.home-table-data-add-name {
    border:none;
}

.home-to-do-list{
    margin:10px;
}

.home-to-do-list-item p{
    margin:3px;
}

.home-to-do-list-add{
    display:flex;
    flex-direction:column;
}

.home-to-do-list-add-input {
    margin: 2.5px;
    border: 1px solid rgba(40, 60, 126, 0.5);
}

.home-to-do-list-add-btn {
    margin: 2.5px;
    border: none;
    background-color: rgba(40,60,126,1);
    color: white;
    text-align: center;
    align-items: center;
}

.home-to-do-item-create-btn:hover {
    color: #FBEAEB;
}

.home-btns{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin:20px;
    width:64%;
}

.home-clear-list-btn {
    text-decoration: none;
    margin:5px;
    padding:8px;
    color: white;
    background-color: #2F3C7E;
    border: 0.5px solid #2F3C7E;
}

    .home-clear-list-btn:hover {
        color: #FBEAEB;
    }

/* Footer */

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 50px;
    border-top: 2px solid #2F3C7E;
    display:flex;
    align-items:center;
}

    .footer div {
        margin-left: 20px;
    }

/* Create */

.create-background {
    justify-content: space-evenly;
}

.create-item-name{
    padding:8px;
    padding-left:0px;
}

.create-item-name-input{
    margin-left: 10px;
    margin-top:5px;
}

.create-item-name-label{
    margin-right:5px;
}

.create-item-completed {
    display: flex;
    padding: 8px;
    padding-left: 0px;
}

.create-item-completed-input {
    margin-left: 10px;
    transform: scale(1.8);
}

.create-item-completed-label {
    margin-right: 5px;
}

.create-to-do-item-save {
    display: flex;
    justify-content: end;
}

.create-save-btn {
    width:35%;
    margin: 2%;
    padding: 1%;
    color: white;
    background-color: #2F3C7E;
    border: 0.5px solid #2F3C7E;
}

    .create-save-btn:hover {
        color: #FBEAEB;
    }

.create-home-link a{
    color:black;
    padding-left:35%;
}

/* Edit */

.edit-item {
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.edit-label{
    padding-left: 10%;
}

.edit-text-input{
    margin-left:6%;
}

.edit-checkbox-input{
    margin-left:2.5%;
    width:10%
}

.btn {
    width: 25%;
    margin: 2%;
    padding: 0.5%;
    color: white;
    background-color: #2F3C7E;
    border: 0.5px solid #2F3C7E;
}