
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-size:16px;
}

body {
    margin-bottom: 60px;
    background-color: #FBEAEB;
    min-height: 100%;
    margin: 0;
    font-size: 16px;
}

/*shared layout*/

.nav {
    background-color: #2F3C7E;
    min-height: 50px;
    align-items: center;
}

.nav-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
}

.nav-header {
    padding: 10px;
    color: white;
    text-decoration: none;
}

    .nav-header:hover {
        color: #FBEAEB;
        font-family: merriFont;
    }

/* Shared classes */

.heading {
    text-align: center;
    padding: 15px;
    font-family: merriFont;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border: 0.5px solid #2F3C7E;
    width: 50%;
    margin: 0 auto;
}

.to-do-item-create {
    display: flex;
    flex-direction: row;
}

/* Home page */

.brand-text {
    font-family: "Lucida Console";
}

.home-noitems {
    text-align: center;
}

.home-create {
    display: block;
    width: 15%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: #2F3C7E;
    border: 2px solid black;
}

.home-create-btn {
    color: white;
    text-decoration: none;
}

    .home-create-btn:hover {
        color: #FBEAEB;
    }

.home-to-do-list {
    display: flex;
    flex-direction: column;
    background-color: #eaebfb;
    border: 0.5px solid #2F3C7E;
    width: 35%;
    margin: 0 auto;
    align-items: flex-start;
}

.home-to-do-item-create-input {
    margin: 2.5px;
    border: 1px solid rgba(40, 60, 126, 0.5);
}

.home-to-do-item-create-btn {
    margin: 2.5px;
    border: none;
    background-color: rgba(40,60,126,1);
    color: white;
    text-align: center;
    align-items: center;
}

.home-to-do-item-create-btn:hover {
    color: #FBEAEB;
}

.home-to-do-item-create-item-save {
    display: flex;
    justify-content: end;
    width: 100%;
}

.home-clear-btn {
    text-decoration: none;
    margin: 2%;
    padding: 1%;
    color: white;
    background-color: #2F3C7E;
    border: 0.5px solid #2F3C7E;
}

    .home-clear-btn:hover {
        color: #FBEAEB;
    }

/* Footer */

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 50px;
    border-top: 2px solid #2F3C7E;
    display:flex;
    align-items:center;
}

    .footer div {
        margin-left: 20px;
    }

/* Create */

.create-add-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Edit */

.edit-item{
    font-family:merriFontBold;
    padding:15px;
    display:flex;
    flex-direction:row;
}

.edit-label{
    padding-left: 10%;
}

.edit-text-input{
    margin-left:6%;
}

.edit-checkbox-input{
    margin-left:2.5%;
    width:10%
}

.btn {
    width: 25%;
    margin: 2%;
    padding: 0.5%;
    color: white;
    background-color: #2F3C7E;
    border: 0.5px solid #2F3C7E;
}